body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.google-search-input {
  transition: all 0.3s;
}

.google-search-container:hover {
  border-color: #6cfaf1;
}

.google-search-container:focus {
  border-color: #fdfdfd;
  box-shadow: 0 1px 6px rgba(76, 239, 220, 0.85);
}